<div class="hero-body">
  <div class="container has-text-centered">
    <div class="column is-6 is-offset-3">
      <h1 class="title">
        <strong style="font-size: 2.25rem;">Welcome</strong>
      </h1>
      <h2 class="subtitle" style="font-family: 'Comfortaa', cursive; font-size: 1.25rem;">
        A Single Page Web App to display the results of a selected Branch and Year by a Hypothetical University. 
        Input, is taken in CSV format. Option to calulate grade. Built using AngularJS, NodeJS, Python and much more...  
      </h2>
      <form class="">
        <label style="font-family: 'Comfortaa', cursive; font-size: 1.5rem;">Branch and Year</label>
        <div class="field center">
          <div class="control m-sm">
            <div class="select is-primary">
              <select>
                <option>CSE 1st Year</option>
                <option>CSE 2nd Year</option>
                <option>CSE 3rd Year</option>
                <option>CSE 4th Year</option>
              </select>
            </div>
          </div>
          <div class="control m-sm">
            <button class="button is-white is-outlined" ui-sref="student" type="submit">Submit</button>
          </div>

        </div>

      </form>

    </div>
  </div>
</div>
